{% extends '__base__.html' %}

{% block title %}数据源{% endblock %}

{% block beforehead %}

<script>
    function initVM(data) {
        $('#vm').show();
        var vm = new Vue({
            el: '#vm',
            data: {
                datasources: data.datasources,
                page: data.page
            },
            methods: {
                edit_datasource: function (ds) {
                    location.assign('/manage/datasources/' + ds.id);
                },
                delete_datasource: function (ds) {
                    var msg = ds.database + '@' + ds.host;
                    if (confirm('确认要删除数据源“' + msg + '”？删除后不可恢复！')) {
                        deleteJSON('/api/datasources/' + ds.id, function (err, r) {
                            if (err) {
                                return error(err);
                            }
                            refresh();
                        });
                    }
                }
            }
        });
    }
    $(function() {
        getJSON('/api/datasources', {
            page: {{ page_index }}
        }, function (err, results) {
            if (err) {
                return fatal(err);
            }
            $('#loading').hide();
            initVM(results);
        });
        
        new Vue({el: '#app'});
    });
</script>

{% endblock %}

{% block content %}

    <div class="uk-width-1-1 uk-margin-bottom">
        <div class="uk-panel uk-panel-box">
            <ul class="uk-breadcrumb">
                <li><a href="/manage/comments">评论</a></li>
                <li><a href="/manage/blogs">日志</a></li>
                <li><a href="/manage/users">用户</a></li>
                <li class="uk-active"><span>数据源</span></li>
                <li><a href="/manage/metadata">元数据</a></li>
                <li><a href="/manage/resources">资源</a></li>
            </ul>
        </div>
    </div>

    <div id="error" class="uk-width-1-1">
    </div>

    <div id="loading" class="uk-width-1-1 uk-text-center">
        <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 正在加载...</span>
    </div>

    <div id="vm" class="uk-width-1-1" style="display:none">
        <a href="/manage/datasources/create" class="uk-button uk-button-primary"><i class="uk-icon-plus"></i> 新数据源</a>
        
        <table class="uk-table uk-table-hover">
            <thead>
                <tr>
                    <th class="uk-width-1-10">db_type</th>
                    <th class="uk-width-1-10">host</th>
                    <th class="uk-width-1-10">database</th>
                    <th class="uk-width-1-10">port</th>
                    <th class="uk-width-1-10">user</th>
                    <th class="uk-width-1-10">password</th>
                    <th class="uk-width-1-10">options</th>
                    <th class="uk-width-2-10">create datetime</th>
                    <th class="uk-width-1-10">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-repeat="ds: datasources" >
                    <td>
                        <span v-text="ds.db_type"></span>
                    </td>
                    <td>
                        <span v-text="ds.host"></span>
                    </td>
                    <td>
                        <span v-text="ds.database"></span>
                    </td>
                    <td>
                        <span v-text="ds.port"></span>
                    </td>
                    <td>
                        <span v-text="ds.user"></span>
                    </td>
                    <td>
                        <span v-text="ds.password"></span>
                    </td>
                    <td>
                        <span v-text="ds.options"></span>
                    </td>
                    <td>
                        <span v-text="ds.created_at.toDateTime()"></span>
                    </td>
                    <td>
                        <a href="#0" v-on="click: edit_datasource(ds)"><i class="uk-icon-edit"></i></a>
                        <a href="#0" v-on="click: delete_datasource(ds)"><i class="uk-icon-trash-o"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div v-component="pagination" v-with="page"></div>

        <div id="app">
            <!-- 3. #app是Vue实例挂载的元素，应该在挂载元素范围内使用组件-->
            <my-component></my-component>
        </div>
    </div>
{% endblock %}