{% extends '__base__.html' %}

{% block title %}元数据{% endblock %}

{% block beforehead %}
<style>
    .tree {
        border: 1px solid #ddd;
        padding: 5px;
        min-height: 250px;
    }
    .tree li {
        cursor: pointer;
        list-style-type: none;
    }
    .tree li span{
        display:inline-block; 
    }
    .tree li .icon{
        width:12px; 
        line-height:12px; 
        text-align:center; 
        border:1px solid black; 
        margin-left:5px;
        margin-right:5px;
    }
    .bold {
        font-weight: bold;
    }
</style>
<script>
    var vm_tree = undefined;
    function loadDatabases(index,ds){
        getJSON("/api/datasources/" + ds.id + "/databases", function (err, results) {
            if (err) {
                return fatal(err);
            }
            
            vm_tree.treeData.datasources[index].databases = results.databases;
            vm_tree.$data = { treeData: vm_tree.treeData };
        });
    }
    function loadTables(ds,index,db){
        getJSON("/api/datasources/" + ds.id + "/databases/" + db.name + "/tables", function (err, results) {
            if (err) {
                return fatal(err);
            }
            
            var dsIndex = vm_tree.treeData.datasources.indexOf(ds);
            vm_tree.treeData.datasources[dsIndex].databases[index].tables = results.tables;
            vm_tree.$data = { treeData: vm_tree.treeData };
        });
    }
    function loadFields(ds,db,index,table){
        getJSON("/api/datasources/" + ds.id + "/databases/" + db.name + "/tables/" + table.name + "/fields", function (err, results) {
            if (err) {
                return fatal(err);
            }
            
            var dsIndex = vm_tree.treeData.datasources.indexOf(ds);
            var dbIndex = vm_tree.treeData.datasources[dsIndex].databases.indexOf(db);
            vm_tree.treeData.datasources[dsIndex].databases[dbIndex].tables[index].fields = results.fields;
            vm_tree.$data = { treeData: vm_tree.treeData };
        });
    }

    $(function() {
        getJSON('/api/datasources', {
            page: {{ page_index }}
        }, function (err, results) {
            if (err) {
                return fatal(err);
            }

            var ds = results.datasources;
            $('#loading').hide();
            $('#vm_tree').show();
            vm_tree = new Vue({
                el: '#vm_tree', 
                data: {
                    treeData:{
                        datasources:ds
                    }
                },
                methods: {
                    load_databases: function (ds) {
                        loadDatabases(ds);
                    }
                }
            });
        });
        
    });
</script>

{% endblock %}

{% block content %}

    <div class="uk-width-1-1 uk-margin-bottom">
        <div class="uk-panel uk-panel-box">
            <ul class="uk-breadcrumb">
                <li><a href="/manage/comments">评论</a></li>
                <li><a href="/manage/blogs">日志</a></li>
                <li><a href="/manage/users">用户</a></li>
                <li><a href="/manage/datasources">数据源</a></li>
                <li class="uk-active"><span>元数据</span></li>
                <li><a href="/manage/captcha">验证码</a></li>
            </ul>
        </div>
    </div>
    
    <div id="error" class="uk-width-1-1">
    </div>

    <div id="loading" class="uk-width-1-1 uk-text-center">
        <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 正在加载...</span>
    </div>

    <div id="vm_tree" class="uk-width-3-10">
        <my-tree v-with="treeData"></my-tree>
    </div>
    <div id="vm_main" class="uk-width-7-10">士大夫大师傅</div>
{% endblock %}